API_URL=/api/v1

BASE_URL=http://localhost:3000/
BASE_DOMAIN =

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

MONGODB_URL_LOCAL=

MONGODB_URL_ONLINE=

OPENAI_API_KEY=

GOOGLE_GEMINI_API_KEY=

PASS_MONGODB=

PASS_SEC=

PORT=5000 

CORS_ORIGIN_LOCAL=http://localhost:3000,http://localhost:5000,http://127.0.0.1:3000,http://127.0.0.1:5000
CORS_ORIGIN_ONLINE=

NODE_ENV=development

renderUlr =

LOCALHOST=http://localhost:3000



# Nouvelle configuration 
LWS_EMAIL_HOST=
LWS_EMAIL_USER=
LWS_EMAIL_PASS=
LWS_EMAIL_PORT=
LWS_EMAIL_SECURE=

//cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=